div(ng-include='"components/navbar/navbar.html"')

md-content.container.wrapper(ng-show="isInstructor()")
  md-tabs(md-dynamic-height="")
    md-tab(label="Assignment Reviews")
    md-tab(label="Calls")
      br
      calendar-md(flex="", layout="", layout-fill="", 
        calendar-direction="direction",
        title-format="'MMMM y'",
        ng-model="selectedDate",
        week-starts-on="Monday",
        day-format="d",
        day-label-format="'EEE'",
        day-label-tooltip-format="'EEEE'",
        on-day-click="showDatePicker")
      br
      md-content.center-text(ng-hide="showTimePicker")
        h3.text-muted Click on a day to set your availability for calls.
      form(ng-show="showTimePicker")
        div(layout="row", layout-align="center center")
          time-date-picker(ng-model="startTime")
          h3 &nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;
          time-date-picker(ng-model="endTime")
        md-button.md-primary.md-raised(type="submit") Submit

.container(ng-hide="isInstructor()")
  .row
    .col-lg-3
      .well
        h2 Assignments
        div.list-group
          a.list-group-item(ng-repeat='form in forms', href='', ng-click="viewForm(form, $index)", ng-class="{active: $index == selectedForm}") {{form.name}}
        h2 Submitted Work
        div.list-group
          a.list-group-item(ng-repeat='submission in submissions', href='', ng-click="viewSubmission(submission, $index)", ng-class="{active: $index == selectedSubmission}") {{submission.name}}
        h2 My Classes
        div.list-group
          span.list-group-item(ng-show="noClasses") You're not in any class!
          a.list-group-item(ng-repeat='class in classes', href='/class/{{class._id}}', ng-hide="noClasses") {{class.name}}

    .col-lg-9
      eda-easy-form-viewer(ng-show="form.fieldsModel", eda-easy-form-viewer-data-model="form.dataModel", eda-easy-form-viewer-easy-form-generator-fields-model="form.fieldsModel", eda-easy-form-viewer-submit-button-text="{{ form.btnSubmitText }}", eda-easy-form-viewer-cancel-button-text="{{ form.btnCancelText }}", eda-easy-form-viewer-submit-form-event="submitForm()", eda-easy-form-viewer-cancel-form-event="cancelForm()")
      div(ng-show="submissionFields")
        li.list-group-item(ng-repeat='field in submissionFields')
          strong {{field.prop}}
          span.text-muted  {{field.val}}
        div(ng-show="feedback", ng-repeat='response in feedback')
          h3 Feedback
          li.list-group-item
            span.text-muted From {{response.byName}}
          li.list-group-item
            strong Comments 
            span.text-muted {{response.Comments}}
